.form-group {
    text-align: center;
}

h1 {
    text-align: center;
    
}

body {
    background-image: url("https://carwad.net/sites/default/files/dog-bone-wallpaper-125934-3807574.jpg");
}

#dogs {
    text-align: center;
    
}